bac2007/.gradle/
bac2007/.idea/
bac2007/gradle/
bac2007/gradlew.bat
bac2007/gradlew
bac2007/out/
Android/Hotel app/Hotel/.idea/
RestServices/Server/restService/gradle/
RestServices/Server/restService/gradlew.bat
RestServices/Server/restService/settings.gradle
RestServices/Server/restService/gradlew
